<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secb.android">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".view.SECBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--Release-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyArtLXnC_7JjMLx1uttqEHz-nJD1HA2Hi8" />
        <!--Debug-->
<!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCPxb5CR6Yh6JoU2snNNyWI9EYxjDO0LiA" />
-->

        <activity
            android:name=".view.LanguageActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.SignUpActivity"
            android:label="@string/app_name"
            android:configChanges="locale"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.ResetPasswordActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.NewsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.EventsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.EservicesActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.EguideActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".view.GalleryActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".view.AboutUsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>

<!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".view.ContactUsActivity"

            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>



        <activity
            android:name=".view.YoutubePlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            ></activity>

        <!-- Addthis library -->
        <activity android:name="com.addthis.ui.activities.ATAllServiceActivity" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name="com.addthis.ui.activities.ATFavoriteServiceActivity" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name="com.addthis.ui.activities.ATShareActivity" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>
        <activity android:name="com.addthis.ui.activities.ATActivityGroup" android:configChanges="orientation" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"/>


    </application>

</manifest>
